/* --- START OF FILE style.css (MODULARIZED) --- */

/* 1. Base & Variables */
@import url('css/variables.css');
@import url('css/theme.css');
@import url('css/base.css');

/* 2. Layout */
@import url('css/layout.css');

/* 3. Components */
@import url('css/components.css');

/* 4. Pages */
@import url('css/pages/auth.css');
@import url('css/pages/dashboard.css');
@import url('css/pages/calendar.css');
@import url('css/pages/tasks.css');
@import url('css/pages/library.css');
@import url('css/pages/outline.css');
@import url('css/pages/drafts.css');
@import url('css/pages/sv5t.css');
@import url('css/pages/achievements.css');
@import url('css/pages/admin.css');

/* 5. Responsive Overrides */
@import url('css/responsive.css');